*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color : #034574;
  --secondary-color : white;
}

html{
    height: 100%;
}

body{
  background: var(--secondary-color);
  min-height: 100%;
}


.container-header{
  grid-area: header;
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
}
.container-section{
  grid-area: section;
}
.container-footer{
  grid-area: footer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
}
.container-grid{
  display: grid;
  grid-template: 
  "header" 60px
  "section" auto
  "footer" 30px;
}
.list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.item{
  font-size: 1rem;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  color: var(--secondary-color);
}
